*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }
    
    html
    {
        scroll-behavior: smooth;
    }
    
    body{
        background: #242424;
        color: #ffffff;
    }


    #portfolio
    {
        padding: 50px 0;
    }

    .sub-title
    {
        font-size: 30px;
        font-weight: 600;
        margin-left: 25px;
        color: #dda20e;
    }
    
    .work-list
    {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top:  50px;
    }
    
    .work
    {
        margin-left: 25px;
        position: relative;
        overflow: hidden;
    }
    
    .work img{
        width: 80%;
        height: auto;
        display: inline-block;
        transition: transform 0.5s;
    }
    
    .layer
    {
        width: 80%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6), #dda20e);
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    
    .layer h3
    {
        font-weight: 600;
        padding: 10px 0;
        margin-top: 20px;
    }
    
    .layer a{
        margin-top: 20px;
        color: #dda20e;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    
    }

    .layer audio
    {
        display: inline-block;
        transform: scale(0.7);
    }
    
    .work:hover img
    {
        transform: scale(1.1);

    }
    
    .work:hover .layer
    {
        height: 100%;
        transform: scale(1.1);

    }
    
    .btn
    {
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #dda20e;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s;
    }
    
    .btn:hover
    {
        background: #dda20e;
    }
    
    nav .fa-solid
    {
        display: none;
    }
    
    @media only screen and (max-width: 600px) {
       

        #portfolio
        {
            padding: 100px 0;
        }
        
        .work-list
        {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 40px;
            margin-top:  50px;
        }
        
        .work
        {
            position: relative;
            overflow: hidden;
            margin-top:  0px;
        }
        
        .work img{
            width: 80%;
            height: 100%;
            transition: transform 0.5s;
        }
        
        .layer
        {
            width: 80%;
            height: 270px;
            background: linear-gradient(rgba(0,0,0,0.6), #dda20e);
            position: absolute;
            left: 0;
            bottom: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 px;
            text-align: center;
            font-size: 16px;
            transition: scale 0.5s;

        }

    .work:hover img
    {
        transform: scale(1.0);

    }
    
    .work:hover .layer
    {
        height: 270px;
        transform: scale(1.0);

    }

        .layer audio
    {
        display: inline-block;
        transform: scale(0.9);
    }
        
    }
        